<div class="container">
	<div class="columns">
	  <div class="one-fourth column">
	    <button type="button" class="btn btn-primary">Login with GitHub</button>
	  </div>
	  <br>
	  <br>
	  <br>
	  <div class="three-fourths cloumn">
	    <input type="text" class="input-block input-contrast" placeholder="Title">
	    <br>
	    <textarea class="input-block input-contrast" rows="10" placeholder="Leave a Comment"></textarea>
	    <br>
	    <div class="form-actions">
	      <button type="button" class="btn btn-primary">Save changes</button>
	      <button type="button" class="btn">Cancel</button>
	    </div>
	  </div>
	</div>
</div>
