<div class="container">
	<div class="columns">
	  <div class="one-fourth column">
	  </div>
	  <br>
	  <br>
	  <br>
	  <div class="three-fourths cloumn">
	  	<form method="post" action="/">
		    <input type="text" name="title" class="input-block input-contrast" placeholder="Title">
		    <br>
		    <textarea class="input-block input-contrast" name="description" rows="10" placeholder="Leave a Comment"></textarea>
		    <br>
		    <div class="form-actions">
		      <input type="submit" class="btn btn-primary"></input>
		    </div>
		  </form>
	  </div>
	</div>
</div>
