<div class="container">
	<div class="columns">
	  <div class="one-fourth column">
	    <a href="/auth/github"><button type="button" class="btn btn-primary">Login with GitHub</button></a>
	  </div>
	  <br>
	  <br>
	  <br>
	</div>
</div>
