<div class="container">
	<div class="columns">
		<div class="one-fifth column"></div>
		<div class="three-fifths column">
			<h1>Success!!</h1>
			<p>Take a look at your issue here: <a href="https://waffle.io/gouthamve/reaction-test"></a></p>
		</div>
	</div>
</div>